#app {
    .profile {
        img {
          width: 100px;
          height: 100px;
        }
        .space-pre {
          white-space: pre;
        }
    }
}

@media screen and (min-width: 768px) {
    #app {
        .profile {
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}
