
body {
  //    font-size: 1.6em;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    text-align: center;
    background-color: #f6f6f4;
    color:#484848;
}

#app {
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;

    main {
        //flex: 1;
      .page-title {
        font-size: 1.8rem;
        font-family: bold;
      }
    }
    .minh-300 {
        min-height: 300px;
    }
    .error_message {
        color: red;
        text-align: left;
    }
    .emailSentMessage {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
  #app {
    main {
      .page-title {
        font-size: 2rem;
        font-family: bold;
      }
    }
  }
}
